.cssLeaf_bc55 {
  display: none !important;
}
.header_e920 .headerBox_fa9d {
  border-top-right-radius: 8px !important;
}
.show_b9c3 {
  background: var(--bg-secondary) !important;
}
.input_db5e {
  background: var(--bg-primary) !important;
}
.__chat_c2dc {
  display: none !important;
}
.input_db5e {
  border-top: 1px solid var(--button-secondary) !important;
}
.wrapper_fb53.grey_ad16 {
  box-shadow: unset !important;
}
.tdTextarea_dd2a textarea.inputField_c362,
.tdTextarea_dd2a textarea.inputField_c362:focus {
  color: var(--text-link) !important;
  -webkit-text-fill-color: var(--text-link) !important;
}
.sendButton_d342 {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2234%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23445669%22%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%2F%3E%3Cg%20transform%3D%22translate(10%209)%22%20fill%3D%22%23FFF%22%3E%3Crect%20x%3D%226%22%20y%3D%222%22%20width%3D%222%22%20height%3D%2214%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22rotate(-45%209.879%204.879)%22%20x%3D%228.879%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22scale(-1%201)%20rotate(-45%200%2015.243)%22%20x%3D%223.293%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A') !important;
}
.__disabled_dbf7 {
  opacity: 0.5 !important;
}
.wrapper_fb53 .wrapper_f87e .input_f5cb {
  background-color: #afa9d1 !important;
}
.wrapper_fb53,
.input_f5cb {
  background-color: #afa9d1 !important;
}
.wrapper_f87e .hint_f38b {
  color: #fff !important;
}
.popup_edeb {
  background: var(--bg-secondary) !important;
  border: 1px solid var(--bg-secondary) !important;
}
.pip_ba43 {
  border-color: transparent transparent var(--bg-secondary) var(--bg-secondary) !important;
}
.emojiIcon_e82d:hover {
  background-color: transparent !important;
  opacity: 0.7 !important;
}
.iconEmoji_e852:hover,
.wrap_b319:hover {
  background-color: transparent !important;
  opacity: 0.7 !important;
}
